header{
    float: right;
    display:flex;
    flex-basis:auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: center;
    justify-content:center;
  }
  
  .gmail-link {
    display:inline-block;
    margin:auto;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
  }
  
  .gmail-link:hover, .images-link:hover{
    text-decoration: underline;
  }
  
  .images-link{
    display:inline-block;
    padding-left:15px;
    padding-right:15px;
    margin:auto;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
  
  }
  
  .profile-picture{
    border-radius: 50%;
    display: block;
    height: 32px;
    width: 32px;
    background-image:url(https://lh3.googleusercontent.com/ogw/ADGmqu8UC-XZtT1mEyQdoiSzmQ0WTwMFelgMhajnTYoL=s64-c-mo);
    background-size: 32px 32px;
    text-align:center;
    margin:4px;
  }
  
  .pfp-container:hover{
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    background-color: rgba(60,64,67,0.08);
    border-radius:50%;
  }
  
  .pfp-container{
    padding:4px;
    margin:auto;
    height:40px;
    width:40px;
    margin-left: 10px;
  }
  .menu{
    background-image:url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin:auto;
    padding:8px;
  }
  
  .menu:hover{
    border-radius:50%;
    background-color: rgba(60,64,67,0.2);
    outline:none;
    
  }
  
  
  .logo-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 290px;
      height: calc(100% - 560px);
      min-height: 92px;
    width: 100%;;
  }
  .logo-img{
    margin-top:190px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
  }
  
  .search-bar-container{
    padding:20px;
    max-height: 160px;
    
  }
  .bar-outline{
      background: #fff;
      display: flex;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      z-index: 3;
      height: 44px;
      margin: 0 auto;
      width: auto;
      max-width: 584px;
  }
  
  .bar-outline:hover{
      background-color: #fff;
      box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
      border-color: rgba(223,225,229,0);
  }
  
  .bar-inside{
      flex: 1;
      display: flex;
      padding: 5px 8px 0 16px;
      padding-left: 14px;
  }
  
  .search-icon{
      display: flex;
      align-items: center;
      padding-right: 13px;
      margin-top: -5px;
  }
  .text-input{
       display: flex;
      flex: 1;
      flex-wrap: wrap;
  }
  .mic-icon{
      display: flex;
      flex: 0 0 auto;
      margin-top: -5px;
      align-items: stretch;
      flex-direction: row;
  }
  
  .search-icon-center{
        margin: auto;
  }
  
  .search-icon-span{
      margin-top: 3px;
      color: #9aa0a6;
      height: 20px;
      width: 20px;
      display: inline-block;
      fill: currentColor;
      line-height: 24px;
      position: relative;
  }
  
  .search-input{
    background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.87);
      outline: none;
      display: flex;
      flex: 100%;
      -webkit-tap-highlight-color: transparent;
      margin-top: -37px;
      height: 34px;
      font-size: 16px;
  }
  .search-position{
      color: transparent;
      flex: 100%;
      white-space: pre;
      height: 34px;
  }
  .mic-position{
      flex: 1 0 auto;
      display: flex;
      cursor: pointer;
      align-items: center;
      border: 0;
      background: transparent;
      outline: none;
      padding: 0 8px;
      width: 24px;
      line-height: 44px;
  }
  .mic-svg{
      height: 24px;
      width: 24px;
      vertical-align: middle;
  }
  
  .buttons{
      padding-top: 18px;
      top: 53px;
      z-index: 0;
      height: 70px;
  }
  .search-button{
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
  }
  
  .search-button:hover{
      box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      background-color: #f8f9fa;
      border: 1px solid #dadce0;
      color: #202124;
  }
  
  .lucky-button{
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
  }
  
  .lucky-button:hover{
      box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      background-color: #f8f9fa;
      border: 1px solid #dadce0;
      color: #202124;
  }